<!doctype html>
</html>
<head>
	<meta charset="UTF-8">
	<title> Car models </title>
</head>
<body>
	<pre>
	<code>
	<% var carmodels = JSON.parse(JSON.stringify(data.carshop.carmodels)); %>
	<!-- delete ID attribute for each car model then show the list on the page-->
	<% for(var i = 0; i < carmodels.length; i++) { %>
		<% var carmodel = carmodels[i]; %>
		<% delete carmodel.id; %>
		<br><%= JSON.stringify(carmodel, null, 2); %>
	<% } %>
	</pre>
	</code>
	<!-- post method for adding a new car model to the data file-->
	<form action="/carmodels" method="post">
		<br><label>Brand </label><br>
		<input type="text" name="brand">
		<br><label>Model</label><br>
		<input type="text" name="model">
		<br><label>Price</label><br>
		<input type="number" name="price">
		<br><br><input type="submit" value="Add new car model">
	</form>
</body>

<footer>
	<br><br><a href="/">Back to homepage</a>
</footer>

</html>