<!doctype html>
</html>
<head>
	<meta charset="UTF-8">
<body>
	<%= JSON.stringify(data.carshop.carmodels) %>
	<form action="/carmodels" method="post">
		<input type="text" name="newItem">
		<input type="submit">
	</form>
</body>
</html>