<!doctype html>
</html>
<head>
	<meta charset="UTF-8">
	<title> Employees </title>
</head>
<body>
	<pre>
	<code>
	<% var employees = JSON.parse(JSON.stringify(data.carshop.employees)); %>
	<!-- delete ID attribute for each employee then show the list on the page-->
	<% for(var i = 0; i < employees.length; i++) { %>
		<% var employee = employees[i];%>
		<% delete employee.id; %>
		<br><%= JSON.stringify(employee, null, 2); %>
	<% } %>
	</pre>
	</code>
</body>

<footer>
		<br><br><a href="/">Back to homepage</a>
</footer>

</html>