<!doctype html>
</html>
<head>
	<meta charset="UTF-8">
	<title>Car Shop</title>
</head>
<body>
	<br><br><a href="/employees">Employees</a>
	<br><br><a href="/carmodels">Car models</a>
	<br><br><a href="/totalsales">Total sales</a>
</body>
</html>