<!doctype html>
</html>
<head>
	<meta charset="UTF-8">
	<title> Total sales </title>
</head>
<body>
	<% var employees = JSON.parse(JSON.stringify(data.carshop.employees)); %>
	<% var carmodels = data.carshop.carmodels; %>
	<% var sales = data.carshop.sales; %>
	<% for(var i = 0; i < sales.length; i++) { %>
		<% var employeeID = sales.employee_id; %>
		<% var carmodelID = sales.carmodel_id; %>
	<% } %>

	<pre>
	<code>
	<% for(var i = 0; i < employees.length; i++) { %>
		<% delete employees[i].id; %>
		<% employees[i].sales = 10; %>
		<br><%= JSON.stringify(employees[i], null, 2); %>
	<% } %>
	</pre>
	</code>
</body>

<footer>
		<br><br><a href="/">Back to homepage</a>
</footer>

</html>