<!doctype html>
</html>
<head>
	<meta charset="UTF-8">
	<title> Total sales </title>
</head>
<body>
	<!-- create a copy of the original JSON data file -->
	<% var employees = JSON.parse(JSON.stringify(data.carshop.employees)); %>
	<% var carmodels = data.carshop.carmodels; %>
	<% var sales = data.carshop.sales; %>
	<!-- add "sales" attribute to all employees and initiate it to 0 -->
	<% for(var i = 0; i < employees.length; i++) { %>
		<% employees[i].sales = 0; %>
	<% } %>
	<!-- itirate over sales list to calculate the total sales of each employee -->
	<% for(var i = 0; i < sales.length; i++) { %>
		<% var price = 0; %>
		<% var employeeID = sales[i].employee_id; %>
		<% var carmodelID = sales[i].carmodel_id; %>
		<!-- itirate over carmodels list to find the price assosiated with a certain car model ID -->
		<% for(var j = 0; j < carmodels.length; j++) { %>
			<% if (carmodelID == carmodels[j].id) { %>
				<% price = carmodels[j].price; %>
				<% break; %>
			<% } %>
		<% } %>
		<!-- itirate over employees list to increment the sales of a certain employee -->
		<% for(var j = 0; j < employees.length; j++) { %>
			<% if (employeeID == employees[j].id) { %>
				<% employees[j].sales = employees[j].sales + price; %>
				<% break; %>
			<% } %>
		<% } %>
	<% } %>

	<pre>
	<code>
	<!-- delete ID attribute for each employee then show the list on the page-->
	<% for(var i = 0; i < employees.length; i++) { %>
		<% delete employees[i].id; %>
		<br><%= JSON.stringify(employees[i], null, 2); %>
	<% } %>
	</pre>
	</code>
</body>

<footer>
		<br><br><a href="/">Back to homepage</a>
</footer>

</html>